@import 'shared/styles/mixins.scss';

.header {
    padding: 10px 0;
    height: var(--header-height);
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;

    // @include withThemeTransition;

    &__mobile {
        background-color: var(--bg-sidebar-color);
        justify-content: stretch;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;

        @include withThemeTransition;

        :global(.optionsModal) {
            position: relative;
            transform: none;
            left: 0;
        }
    }
}

.right {
    margin-left: auto;
    display: flex;
}

.themesContainerMobile {
    margin-right: 10px;
}

.catalogSort {
    margin-right: 10px;
}
