.mobileMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%);

    transition: all 1s ease-in-out;
}

.openned.mobileMenu {
    transform: translateX(0);
    opacity: 1;
}
