@import '../../styles/mixins.scss';

.input__field {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    font: inherit;
    @include adaptive-font();
    box-sizing: border-box;
    outline: none;
    max-width: 250px;
    min-width: 150px;
}

.overflowElipsis {
    text-overflow: ellipsis;
}
