@import '../../styles/mixins.scss';

.NavLink {
    @include adaptive-font(24, 32);
    @include withThemeTransition;
    font-weight: 600;
    color: var(--attention-color);
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}
