@import './variables.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

body {
    margin: 0;
}

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--background);
    min-height: 100dvh;
    min-width: 100dvw;

    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
