@import '../../../../shared/styles/mixins.scss';

.products {
    padding: 30px;
    overflow-y: auto;
    max-height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 20px;
    justify-content: center;

    @include useDefaultScrollbarStyle();

    @include fullhd() {
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    }

    @include hd1280() {
        grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
        gap: 15px;
    }

    @include tablet1024() {
        grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
    }

    @include tablet900() {
        grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
    }

    @include mobile768() {
        grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
    }

    @include mobile576() {
        grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
    }

    &__item {
        cursor: pointer;
        position: relative;

        .item__image {
            display: flex;
            align-items: center;
            justify-content: center;

            .img {
                max-height: 200px;
                width: auto;
                max-width: 100%;
            }
        }
    }
}

.specialOffer {
    animation: shine 0.6s linear infinite alternate;
}

@keyframes shine {
    from {
        box-shadow: 2px -4px 4px 9px rgb(255, 255, 0);
    }
    to {
        box-shadow: 0px 0px 4px 3px rgb(255 255 0 / 78%);
    }
}

.absent {
    opacity: 0.5;
    position: relative;
}

.absentText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--inverted-color-50);
    box-shadow: 0px 2px 10px var(--modal-border-color);
    border-radius: 7px;
    z-index: 1;

    @include withThemeTransition();
    @include adaptive-font(18, 20);
}
