@import '../../../../shared/styles/mixins.scss';

.page {
    height: calc(100% - var(--header-height) - 20px);

    @for $i from 1 through 100 {
        &__padding_#{$i} {
            padding: 0 #{$i}px;
        }
    }

    &__withSidebar {
        @include tablet1024(min-width) {
            padding-left: calc(var(--sidebar-closed-width) + 10px);
        }
    }
}
